<div class="center jumbotron">
  <h1>Welcome to Gigs Calender</h1>

  <h2>
    Never miss gigs.
  </h2>
  <div class="mockups">
    <h2>1. Find venues you like.</h2>
    <%= image_tag 'mockup_find_venues.jpg', class: "mockup-img" %>
    <h2>2. Follow them.</h2>
    <%= image_tag 'mockup_follow.jpg', class: "mockup-img" %>
    <h2>3. You can see gigs in date order!</h2>
    <%= image_tag 'mockup_feed.jpg', class: "mockup-img" %>
    <h2>4. If you are venue, you can post your gigs.</h2>
    <%= image_tag 'mockup_post.jpg', class: "mockup-img" %>
  </div>
  <h2>Let's enjoy more gigs!</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
